.search {
    margin-left: -200px;
    input {
        width: 300px;
        height: 40px;
        padding: 5px 10px 5px 15px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid #7b7b7b;;
    }
}